htmlonly/_dev/markups/_pages/auth.jade
extends ../auth

block title
    | Авторизация

block content
    .auth__block
        .auth__block-flip
            .auth__block-side.auth__block-front
                .auth__text
                    .auth__text-title
                        | Добро пожаловать
                    .auth__text-desc.
                        Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
                .auth__form
                    form.auth__elem
                        label.auth__row
                            .auth__row-icon
                                +icon('env')
                            .auth__row-input
                                input(name="" type="text" placeholder="Электронная почта").auth__input
                        label.auth__row
                            .auth__row-icon
                                +icon('lock')
                            .auth__row-input
                                input(name="" type="password" placeholder="Пароль").auth__input
                        .auth__extras
                            a(href="#").auth__forgot.auth__link Забыли пароль?
                            input(name="" type="submit" value="Войти").auth__enter.round-btn.round-btn_filled
                            .auth__remember
                                span.auth__remember-text Нет аккаунта?
                                a(href="#").auth__register-link.auth__link.flip-trigger Зарегистрироваться
            .auth__block-side.auth__block-back
                .auth__text
                    .auth__text-title
                        | Регистрация
                .auth__form
                    form.auth__elem
                        label.auth__row
                            .auth__row-icon
                                +icon('person')
                            .auth__row-input
                                input(name="" type="text" placeholder="Имя").auth__input
                        label.auth__row
                            .auth__row-icon
                                +icon('env')
                            .auth__row-input
                                input(name="" type="text" placeholder="Электронная почта").auth__input
                        label.auth__row
                            .auth__row-icon
                                +icon('lock')
                            .auth__row-input
                                input(name="" type="password" placeholder="Пароль").auth__input
                        .auth__extras
                            .auth__desc Ваши данные остаются строго конфеденциальны
                            input(name="" type="submit" value="Войти").auth__enter.round-btn.round-btn_filled
                            .auth__remember
                                span.auth__remember-text Уже зарегистрированы?
                                a(href="#").auth__register-link.auth__link.flip-trigger Войти

htmlonly/pages/auth.html
<!DOCTYPE html>
<html lang="RU-ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Авторизация</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="../../public/css/plugins.auth.min.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<!--[if lt IE 8]>
		<p class="chromeframe">Похоже, что ты используешь устаревший браузер, друг. Пожалуйста, <a href="http://browsehappy.com/">скачай новый браузер абсолютно бесплатно</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p>
		<![endif]-->
		<div class="wrapper wrapper_auth">
			<div class="auth">
				<div class="auth__block">
					<div class="auth__block-flip">
						<div class="auth__block-side auth__block-front">
							<div class="auth__text">
								<div class="auth__text-title">Добро пожаловать</div>
								<div class="auth__text-desc">Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!</div>
							</div>
							<div class="auth__form">
								<form class="auth__elem">
									<label class="auth__row">
										<div class="auth__row-icon"><svg id="Mail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 109.29 71.16">
  <title>env</title>
  <path d="M54.65,29.07L101.06,0.13A9.8,9.8,0,0,0,99.52,0H9.77A10,10,0,0,0,8.23.13Z"/>
  <path d="M57.57,40.26l-0.19.1-0.21.11a5.47,5.47,0,0,1-1.12.44l-0.12,0a5.59,5.59,0,0,1-1.27.16h0a5.53,5.53,0,0,1-1.27-.16l-0.12,0a5.65,5.65,0,0,1-1.12-.44l-0.21-.11-0.2-.1L0.15,8.1A9.9,9.9,0,0,0,0,9.77V61.38a9.77,9.77,0,0,0,9.77,9.77H99.52a9.77,9.77,0,0,0,9.77-9.77V9.77a9.71,9.71,0,0,0-.15-1.67Z"/>
</svg>

										</div>
										<div class="auth__row-input">
											<input name="" type="text" placeholder="Электронная почта" class="auth__input">
										</div>
									</label>
									<label class="auth__row">
										<div class="auth__row-icon"><svg id="Safety" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 24.78">
  <path d="M18.72,10.75a9.44,9.44,0,0,0,.14-1.62A9,9,0,0,0,10,0,9,9,0,0,0,1.14,9.13a9.38,9.38,0,0,0,.14,1.62A2.76,2.76,0,0,0,0,13.08V22a2.77,2.77,0,0,0,2.77,2.77H17.23A2.77,2.77,0,0,0,20,22h0V13.08A2.76,2.76,0,0,0,18.72,10.75Zm-7.5,7.8v1.94a1.22,1.22,0,1,1-2.44,0V18.55A2.54,2.54,0,1,1,11.22,18.55Zm4.27-8.24h-11a6.16,6.16,0,0,1-.12-1.19A5.75,5.75,0,0,1,10,3.26a5.75,5.75,0,0,1,5.61,5.87A6.16,6.16,0,0,1,15.49,10.31Z"/>
</svg>

										</div>
										<div class="auth__row-input">
											<input name="" type="password" placeholder="Пароль" class="auth__input">
										</div>
									</label>
									<div class="auth__extras"><a href="#" class="auth__forgot auth__link">Забыли пароль?</a>
										<input name="" type="submit" value="Войти" class="auth__enter round-btn round-btn_filled">
										<div class="auth__remember"><span class="auth__remember-text">Нет аккаунта?</span><a href="#" class="auth__register-link auth__link flip-trigger">Зарегистрироваться</a></div>
									</div>
								</form>
							</div>
						</div>
						<div class="auth__block-side auth__block-back">
							<div class="auth__text">
								<div class="auth__text-title">Регистрация</div>
							</div>
							<div class="auth__form">
								<form class="auth__elem">
									<label class="auth__row">
										<div class="auth__row-icon"><svg id="Profile" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 16.1">
  <circle cx="7.5" cy="4.56" r="4.56"/>
  <path d="M10.44,9.83a8.08,8.08,0,0,1-5.87,0C2.76,11,0,12.36,0,16.1H15C15,12.36,12.24,11,10.44,9.83Z"/>
</svg>

										</div>
										<div class="auth__row-input">
											<input name="" type="text" placeholder="Имя" class="auth__input">
										</div>
									</label>
									<label class="auth__row">
										<div class="auth__row-icon"><svg id="Mail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 109.29 71.16">
  <title>env</title>
  <path d="M54.65,29.07L101.06,0.13A9.8,9.8,0,0,0,99.52,0H9.77A10,10,0,0,0,8.23.13Z"/>
  <path d="M57.57,40.26l-0.19.1-0.21.11a5.47,5.47,0,0,1-1.12.44l-0.12,0a5.59,5.59,0,0,1-1.27.16h0a5.53,5.53,0,0,1-1.27-.16l-0.12,0a5.65,5.65,0,0,1-1.12-.44l-0.21-.11-0.2-.1L0.15,8.1A9.9,9.9,0,0,0,0,9.77V61.38a9.77,9.77,0,0,0,9.77,9.77H99.52a9.77,9.77,0,0,0,9.77-9.77V9.77a9.71,9.71,0,0,0-.15-1.67Z"/>
</svg>

										</div>
										<div class="auth__row-input">
											<input name="" type="text" placeholder="Электронная почта" class="auth__input">
										</div>
									</label>
									<label class="auth__row">
										<div class="auth__row-icon"><svg id="Safety" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 24.78">
  <path d="M18.72,10.75a9.44,9.44,0,0,0,.14-1.62A9,9,0,0,0,10,0,9,9,0,0,0,1.14,9.13a9.38,9.38,0,0,0,.14,1.62A2.76,2.76,0,0,0,0,13.08V22a2.77,2.77,0,0,0,2.77,2.77H17.23A2.77,2.77,0,0,0,20,22h0V13.08A2.76,2.76,0,0,0,18.72,10.75Zm-7.5,7.8v1.94a1.22,1.22,0,1,1-2.44,0V18.55A2.54,2.54,0,1,1,11.22,18.55Zm4.27-8.24h-11a6.16,6.16,0,0,1-.12-1.19A5.75,5.75,0,0,1,10,3.26a5.75,5.75,0,0,1,5.61,5.87A6.16,6.16,0,0,1,15.49,10.31Z"/>
</svg>

										</div>
										<div class="auth__row-input">
											<input name="" type="password" placeholder="Пароль" class="auth__input">
										</div>
									</label>
									<div class="auth__extras">
										<div class="auth__desc">Ваши данные остаются строго конфеденциальны</div>
										<input name="" type="submit" value="Войти" class="auth__enter round-btn round-btn_filled">
										<div class="auth__remember"><span class="auth__remember-text">Уже зарегистрированы?</span><a href="#" class="auth__register-link auth__link flip-trigger">Войти</a></div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer-auth">2016 Создано командой профессионалов на продвинутом курсе по веб-разработке от LoftSchool</footer>
		</div>
		<script src="../../public/js/plugins.auth.min.js"></script>
		<script src="/js/main.min.js"></script>
	</body>
</html>
